<div class="formgrid grid">
  <div class="col-12">
    <p-tabView>
      <p-tabPanel header="Home">
        <div style="height: 50em;">
          <h1>test</h1>
        </div>
      </p-tabPanel>
      <p-tabPanel header="Dice">
        <div style="height: 50em;">
          <app-dice-roller></app-dice-roller>
        </div>
      </p-tabPanel>
    </p-tabView>
  </div>
  <div class="flex align-content-end footer col-12">
    <p>created by <a href="Andrewjzambik@yahoo.com">Andrew Zambik</a></p> 
  </div>
</div>
